<footer class="site-footer">
    <div class="wrapper">
        <p>Письма в редакцию: <a href="mailto:info@football.ua">info@football.ua</a> . Отдел продаж Digital рекламы: <a
                href="mailto:reklama@umh.com.ua">reklama@umh.com.ua</a>, <a href="tel:380442073305">+38 (044)
            207-33-05</a> , <a href="tel:380442079700">+38 (044) 207-97-00</a></p>
        <p>техподдержки: <a href="mailto:web-support@football.ua">web-support@football.ua</a>.</p>
        <p>© 2006-2016 ООО "ИД УМХ". Все права защищены.</p>
    </div>
</footer>