.footer-top-links {
  display: flex;
  padding: 0 0 15px 130px;
  border-bottom: 1px solid #d6d6d6;
}

.footer-top-links li a {
  padding: 0 10px;
  font-size: 12px;
  text-decoration: none;
  border-left: 1px solid #000;
}

.footer-top-links li a:hover {
  text-decoration: underline;
}

.footer-top-links li:first-child a {
  border: 0;
  padding-left: 0;
}

.footer-top-links li:last-child a {
  padding-right: 0;
}

.prefooter-links-content {
  padding: 10px 15px 15px 130px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.links li,
.links-block-list li {
  display: block;
  margin: 5px 0;
}

.links li a,
.links-block-list li a {
  display: block;
  color: #666;
  font-size: 12px;
  text-decoration: none;
}

.links-block-list li a {
  text-transform: uppercase;
}

.links li a:hover,
.links-block-list li a:hover {
  text-decoration: underline;
}

.prefooter-nav-link {
  min-width: 14%;
  padding: 0 1% 0 0;
}

.prefooter-nav-link-title {
  font-size: 14px;
  text-transform: uppercase;
}

.nav-block h3 {
  font-weight: normal;
  text-transform: uppercase;
}