<ul class="footer-top-links">
    <li>
        <a href="/">Мобильная версия</a>
    </li>
    <li>
        <a href="/">Приложение для iPhone</a>
    </li>
    <li>
        <a href="/">Приложение для Android</a>
    </li>
    <li>
        <a href="/">ЧМ-2014</a>
    </li>
    <li>
        <a href="/">Спортивные блоги</a>
    </li>
    <li>
        <a href="/">Новости спорта на iSport.ua</a>
    </li>
</ul>
<div class="prefooter-links-content">
    <div class="prefooter-nav-link">
        <h3 class="prefooter-nav-link-title">Украина</h3>
        <ul class="links">
            <li>
                <a href="#">Премьер-лига</a>
            </li>
            <li>
                <a href="#">Favbet Лига 1</a>
            </li>
            <li>
                <a href="#">Вторая лига</a>
            </li>
        </ul>
        <h3 class="prefooter-nav-link-title">Мир</h3>
        <ul class="links">
            <li>
                <a href="#">Аргентина</a>
            </li>
            <li>
                <a href="#">Бразилия</a>
            </li>
            <li>
                <a href="#">Северная Америка</a></li>
            <li>
                <a href="#">Другие страны</a>
            </li>
        </ul>
    </div>
    <div class="prefooter-nav-link">
        <h3 class="prefooter-nav-link-title">Европа</h3>
        <ul class="links">
            <li>
                <a href="#">Англия</a>
            </li>
            <li>
                <a href="#">Германия</a>
            </li>
            <li>
                <a href="#">Испания</a>
            </li>
            <li>
                <a href="#">Италия</a>
            </li>
            <li>
                <a href="#">Нидерланды</a>
            </li>
            <li>
                <a href="#">Португалия</a>
            </li>
            <li>
                <a href="#">Турция</a>
            </li>
            <li>
                <a href="#">Франция</a>
            </li>
        </ul>
    </div>
    <div class="prefooter-nav-link">
        <h3 class="prefooter-nav-link-title">Кубки</h3>
        <ul class="links">
            <ul>
                <li>
                    <a href="#">Лига чемпионов</a>
                </li>
                <li>
                    <a href="#">Лига Европы</a>
                </li>
                <li>
                    <a href="#">Кубок Африканских Наций</a>
                </li>
                <li>
                    <a href="#">Кубок Конфедераций</a>
                </li>
                <li>
                    <a href="#">Копа Либертадорес</a>
                </li>
                <li>
                    <a href="#">ЧМ-2014</a>
                </li>
            </ul>
        </ul>
    </div>
    <div class="prefooter-nav-link">
        <h3 class="prefooter-nav-link-title">Разное</h3>
        <ul class="links">
            <ul>
                <li>
                    <a href="#">Подкасты</a>
                </li>
                <li>
                    <a href="#">Прогнозисты</a>
                </li>
                <li>
                    <a href="#">Fantasy Football</a>
                </li>
                <li>
                    <a href="#">Футбол на ТВ</a>
                </li>
                <li>
                    <a href="#">Блоги</a>
                </li>
                <li>
                    <a href="#">Деньги с карты на карту</a>
                </li>
            </ul>
        </ul>
    </div>
    <div class="nav-block">
        <h3>Спецпроекты</h3>
    </div>
    <div class="links-block">
        <ul class="links-block-list">
            <li>
                <a href="#">ЕВРО-2008</a>
            </li>
            <li>
                <a href="#">ЧМ-2010</a>
            </li>
            <li>
                <a href="#">ЕВРОФИНАЛЫ-2012</a>
            </li>
            <li>
                <a href="#">ЕВРО-2012</a>
            </li>
            <li>
                <a href="#">ЧМ-2014</a>
            </li>
            <li>
                <a href="#">Футбольные путешествия</a>
            </li>
            <li>
                <a href="#">Old Firm Derby</a>
            </li>
            <li>
                <a href="#">Топ 11 игроков ЛЧ</a>
            </li>
        </ul>
    </div>
</div>