<header class="site-header">
    <div class="wrapper">
        <div class="top-content">
            <h1 class="logo">
                <a href="/">
                    <img src="assets/images/logo.png" alt="football.ua">
                </a>
            </h1>
            <ul class="header-social">
                <li class="fb">
                    <a href="#" target="_blank">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="vk">
                    <a href="#" target="_blank">
                        <i class="fa fa-vk" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="twitter">
                    <a href="#" target="_blank">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="rss">
                    <a href="#" target="_blank">
                        <i class="fa fa-rss" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
            <a class="animate-btn" href="#">
                <img src="assets/images/header-animate-bnt.gif" alt="animate btn">
            </a>
            <app-search-component></app-search-component>

            <ul class="login-register-link">
                <li>
                    <a href="#">Войти</a>
                </li>
                <li>
                    <a href="#">Регистрация</a>
                </li>
            </ul>
        </div>
    </div>
    <app-header-nav-module></app-header-nav-module>
</header>