#search-content {
  max-width: 195px;
  overflow: hidden;
}

#search-field {
  float: left;
  width: 100%;
  background: #ececec;
  border: none;
  border-radius: 13px;
  padding: 5px 25px 5px 10px;
  box-sizing: border-box;
}

#submit-search-btn {
  float: right;
  margin: -20px 10px 0 0;
  padding: 0;
  color: #848484;
  border: 0;
  background: 0;
  cursor: pointer;
}