<app-header-module></app-header-module>
<main class="main-content">
    <div class="main-inside-wrapper">
        <div class="inner-container">
            <app-left-sidebar></app-left-sidebar>
            <app-right-sidebar></app-right-sidebar>
            <section class="content">
                <app-top-football-teams></app-top-football-teams>
            </section>
        </div>
        <section class="site-prefooter">
            <app-prefooter-top-nav></app-prefooter-top-nav>
        </section>
    </div>
</main>

