.main-content {
  box-sizing: border-box;
  background: #e6e6e6;
}
.main-inside-wrapper {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
  background: #fff;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
}

.json-data {
  width: 100%;
  padding: 20px 0;
}

.content {
  overflow: hidden;
}

.nav-link {
  margin: 0 0 10px;
}
