<nav class="header-navigation">
    <div class="wrapper">
        <div class="nav-content">
            <ul class="navigation">
                <li>
                    <a href="/" class="active">Главная</a>
                </li>
                <li>
                    <a href="#">Новости</a>
                </li>
                <li>
                    <a href="#">Матчи и турниры</a>
                </li>
                <li>
                    <a href="#">Видео</a>
                </li>
                <li>
                    <a href="#">Фотогалереи</a>
                </li>
                <li>
                    <a href="#">Футбол на ТВ</a>
                </li>
                <li>
                    <a href="#">Конференции</a>
                </li>
                <li>
                    <a href="#" target="_blank">Блоги</a>
                </li>
            </ul>
            <a class="animate-btn" href="#" target="_blank">
                <img src="assets/images/isport-logo.png" alt="isport logo">
            </a>
        </div>
    </div>
</nav>