<nav class="header-navigation">
    <div class="wrapper">
        <div class="nav-content">
            <ul class="navigation">
                <li>
                    <a routerLink="main" routerLinkActive="active">Главная</a>
                </li>
                <li>
                    <a routerLink="newsarc" routerLinkActive="active">Новости</a>
                </li>
                <li>
                    <a routerLink="scoreboard" routerLinkActive="active">Матчи и турниры</a>
                </li>
                <li>
                    <a routerLink="video" routerLinkActive="active">Видео</a>
                </li>
                <li>
                    <a routerLink="galleries" routerLinkActive="active">Фотогалереи</a>
                </li>
                <li>
                    <a routerLink="tvschedule" routerLinkActive="active">Футбол на ТВ</a>
                </li>
                <li>
                    <a routerLink="conferences" routerLinkActive="active">Конференции</a>
                </li>
                <li>
                    <a routerLink="blog" routerLinkActive="active">Блоги</a>
                </li>
            </ul>
            <a class="animate-btn" href="#" target="_blank">
                <img src="assets/images/isport-logo.png" alt="isport logo">
            </a>
        </div>
    </div>
</nav>