<aside class="sidebar-nav sidebar-right">
    <div class="banner">
        <div class="holder holder_300X250">
            <iframe id="panelSmall" name="panelSmall"
                    src="//i.holder.com.ua/h/0/4/1396_7.html/small.html?bn_url=http%3A//h.holder.com.ua/c%3Fz2379%26b139640%26k143186522%26s015574%26s115539"
                    frameborder="0" vspace="0" hspace="0" width="100%" height="250px" marginwidth="0" marginheight="0"
                    scrolling="no" allowtransparency="true"></iframe>
        </div>
    </div>
    <div class="banner"></div>
    <div class="banner">
        <iframe width="300" height="100" scrolling="no"
                src="http://h.holder.com.ua/b?z3160&amp;b104157&amp;k442633069&amp;s015910" frameborder="0" vspace="0"
                hspace="0" marginwidth="0" marginheight="0"></iframe>
    </div>
    <div class="banner">
        <div class="holder holder_300X100">
            <div class="json-data">
                <app-get-json-content></app-get-json-content>
            </div>
        </div>
    </div>
    <app-top-subjects></app-top-subjects>
    <div class="banner">
        <div class="holder_300X100">
            <iframe width="300" height="100" scrolling="no"
                    src="http://h.holder.com.ua/b?z6101&amp;b139173&amp;k905596500&amp;s011068" frameborder="0"
                    vspace="0" hspace="0" marginwidth="0" marginheight="0"></iframe>
        </div>
    </div>
</aside>