.sidebar-right {
  float: right;
  width: 310px;
  background: #ffffff;
}

.banner {
  margin: 0 auto 30px;
  padding: 5px;
  background: #EFEFEF;
}

.holder {
  width: 100%;
  background: #ffffff;
}

.holder_300X100 {
  min-height: 100px;
}

.holder_300X250 {
  min-height: 250px;
}